<h1>Welcome to {{ hotelName }}</h1>

<div [hidden]="hideRooms">
  Numbers of Rooms:
  <div
    [ngStyle]="{ color: rooms.availableRooms ? 'green' : 'red' }"
    [innerText]="numberOfRooms"
  ></div>
</div>

{{ rooms?.availableRooms ?? "No Room Available" }}

<div *ngIf="selectedRoom">
  {{ selectedRoom | json }}
</div>

<!-- ADD ROOM -->
<div>
  <button class="btn btn-secondary" (click)="addRoom()">Add Room</button>
</div>

<div *ngIf="rooms.availableRooms > 0">
  <BetterInn-rooms-list
    [rooms]="roomList"
    (selectedRoom)="selectRoom($event)"
  />
</div>

<button (click)="toggle()">Toogle</button>
